h1 {
  color: $light-gray;
  font-weight: bold;
  font-size: 90px;
}

h2 {
  color: $dark-gray;
  font-weight: bold;
  font-size: 72px;
}

h3 {
  color: $dark-gray;
  font-weight: bold;
  font-size: 36px;
}

h4 {
  color: $dark-gray;
  font-family: 'Merriweather';
  font-size: 28px;

}

h5 {
  color: $dark-gray;
  font-weight: bolder;
  font-size: 24px;

}

h6 {
  color: $dark-gray;
  font-weight: bolder;
}

p {
  color: $gray;
  font-size: 14px;
}

a {
  color: $dark-gray;
}

a:hover {
  color: $dark-gray;
  text-decoration: underline;
  text-decoration-color: $turquiose;
  text-decoration-style: solid;
}

.navbar-underline {
  color: $dark-gray;
  text-decoration: underline;
  text-decoration-color: $turquiose;
  text-decoration-style: solid;
}

body {
  background-color: white;
}

