// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// cART color scheme !!

$light-gray: #EFECEC;
$gray: #5C5757;
$dark-gray: #363434;
$turquiose: #62929A;

