.order-subheading {
  h4 {
    // text-decoration: $turquiose;
    font-size: 18px;
    font-weight: bold;
  }
  line-height: 2.4;
}

.order-btn {
  display: flex;
  justify-content: space-between;
}

.order-background {
  height: 150vh;
}

.order-show-btn {
  margin-top: 28px;

}
