.banner-show {
  height: 50vh;
}


.commission_box {
  display: flex;
  justify-content: space-between;
}

.commission_show_left {
  flex: 0 0 40%;
  h2 {
    margin-top: 0;
    color: black;
    margin-bottom: 40px;
  }
}

.commission_show_right {
  flex: 1;

  h4 {
    font-size: 18px;
    line-height: 1.5;
  }
}

.commission-section {
  padding: 50px 0;
  background-color: white;
}

.commission_show-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    border-bottom: 3px solid $turquiose;
    color: black;
    width: 40%;
    padding: 2px 0;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

}


.show-btn-commission {
  background-color: $turquiose;
  padding: 12px;
  color: white;
}

.request-card {
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 15px 30px;
  margin: 15px 0;
  box-shadow: 1px 2px 4px #f3f3f3;
  display: flex;
  justify-content: space-between;
}
