.banner-show {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://res.cloudinary.com/dghextejt/image/upload/v1536231378/commission.png");
}

.image-size img {
  max-width: 100% !important;
}

.commission_box {
  display: flex;
  justify-content: space-between;
}

.commission_show_left {
  flex: 0 0 40%;
  h2 {
    margin-top: 0;
    color: black;
    margin-bottom: 40px;
    padding-right: 24px;
  }
}

.commission_show_right {
  flex: 1;

  h4 {
    font-size: 18px;
    line-height: 1.5;
    color: $gray;
    font-family: "Merriweather";
  }
}

.commission-section {
  padding: 50px 0;
  background-color: white;
}

.commission_show-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    border-bottom: 3px solid $turquiose;
    color: black;
    width: 40%;
    padding: 2px 0;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

}

.commission-btns {
  padding: 4px;
}


.show-btn-commission {
  background-color: $turquiose;
  padding: 12px;
  margin: 4px;
  color: white;
  font-family: 'Lato';
}

// #reference-header {
//   margin-left: 454px;
// }

// .reference-card {
//   display: flex;
//   background-color: $light-gray;
//   margin-left: 454px;
// }

.reference-image img {
  height: 400px;
}


.request-card-container {
  padding: 0 100px;
}

.request-card {
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 15px 30px;
  margin: 15px 0;
  box-shadow: 1px 2px 4px #f3f3f3;
  display: flex;
  justify-content: space-between;
  background: $light-gray;
}

.request-content-header {
  display: flex;
  justify-content: space-between;
  min-width: 734px;
  h6 {
    border-bottom: 1px $turquiose solid;
  }
}

.request-btn {
  padding: 24px;
}

.request-label {
  text-decoration: underline solid $turquiose;
  border: none;
}

.request-message {
  font-family: 'Merriweather', 'serif';
  font-weight: 100;
  color: #5C5757;
  font-size: 14px !important;
  padding: 0px;
  background-color: white;
}

.update-btn {
padding-top: 24px;
}

.request-form-submit {
  background-color: $turquiose;
  height: 46px;
  width: 153px;
  padding: 10px 15px;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: lighter;
  border-radius: 2px;
  //box-shadow:

  color: $light-gray;

    &:hover {
    color: $light-gray;
    background-color:$gray;
    text-decoration: none;
  }
}

.request-content {
  max-width: 600px;
}

.order-image img {
  height: 300px;
}

.order-card {
  margin: 28px 140px;
  display: flex;
  background-color: $light-gray;
}

.order-content {
  padding-left: 16px;
  p {
    padding-top: 13px;
    padding-right: 13px;
  }
  h5 {
    text-decoration: underline solid $turquiose;
  }
}

#order-username {
  padding: 0;
  font-weight: bold;
  font-family: 'Lato';
  text-decoration: none;
}
