
<div class="artist-search">
  <h4>Search Bar</h4>
</div>

<div class="container artist-container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div class="artist-column">
        <% @users.select{|user| user.id.even?}.each do |user| %>
          <% if user.artist? %>
            <%= cl_image_tag user.arts.first.photo, class: "artist-card" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
       <div class="artist-column">
         <% @users.select{|user| user.id.odd?}.each do |user| %>
          <% if user.artist? %>
            <%= cl_image_tag user.arts.first.photo, class: "artist-card" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
