.art-container {
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20%;
  background-color: transparent;
}

.art-p-s {
  display:flex;
  align-items: center;
  .btn {
    margin-left: 150%;
    background-color: $turquiose;
    color: white;
  }
}


.art_photo {
  border-color: transparent;
}


.art-card h3 {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;
  margin-width: 10%;
}
