<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path 'video.gif'%>); background-size: cover;">
  <div class="banner-content">
    <h1>Art.
        Commissions.
        cART.
      </h1>

    <button type="submit" class="banner-btn" id="item-search"><%= link_to "Commissions Art", users_path %></button>
  </div>
</div>
