.turquiose-btn {
  background-color: $turquiose;
  height: 46px;
  width: 153px;
  padding: 10px 15px;
  //box-shadow:

  color: $light-gray;

  :hover {

  }
}

.h3-turquoise-btn {
  background-color: $turquiose;
  height: 82px;
  width: 288px;
  h3 {
    color: $light-gray;
  }
  :hover {

  }
}
