.turquiose-btn {
  background-color: $turquiose;
  height: 46px;
  width: 153px;
  padding: 10px 15px;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: lighter;
  border-radius: 2px;
  //box-shadow:

  color: $light-gray;

    &:hover {
    color: $light-gray;
    background-color:$gray;
    text-decoration: none;
  }

}




.h3-turquoise-btn {
  background-color: $turquiose;
  height: 82px;
  width: 288px;
  h3 {
    color: $light-gray;
  }
  &:hover {
    color: $light-gray;
    background-color:red;
  }
}
