

.artist-card {
  height: 280px;
  background-size: cover;
  position: relative;
  margin: 5px;
  h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;

  }
}

.artist-search-container {
  display: flex;
  border: none;
}

.artist-border{
  flex: 0 0 90%;
  padding: 24px;
  color: $dark-gray;
  font-weight: bold;
  font-family: "Lato";
  ::-webkit-input-placeholder {
  color: $dark-gray;
  }
  :focus {
  box-shadow: none;
  }
}


.artist-search {
  font-size: 24px;
  box-shadow: none;
  border: none;
  border-bottom: 4px $turquiose solid;
  max-width: 400px;
  color: $dark-gray;
  :focus {
    border-bottom: 4px $turquiose solid;

  }
}

.artist-search-icon {
  flex: 0 0 10%;
  margin-left: 60px;
  margin-top: 22px;
  margin-right: -108px;
  z-index: 2;
}

.artist-card-height {
  height: 220px;
}

 .artist-card:hover  {

    .artist-card-background {
      transition-timing-function: ease-in;
      transition: 0.5s;
      opacity: 0.5;
      cursor: pointer;
    }

    // background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    // background-size: cover;
    h4 {
      color: $light-gray;
    }
  }

  .artist-title {
    z-index: 5;
  }

.artist-image {
  width: 100%;
  padding: 6px;

}

.artist-column {
  margin: -15px;
}

.artist-container {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  width: auto;
  margin-bottom: 16px;
}

.artist-card-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
