.artist-search {
  padding: 24px;
}

.artist-card {
  h4 {
    color: transparent
  }
  :hover {
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
    text-color: $light-gray;
    cursor: pointer;
  }
}

.artist-image {
  width: 100%;
  padding: 6px;

}

.artist-column {
  margin: -15px;
}

.artist-container {
  margin-right: 15px;
  margin-left: 15px;
  width: auto;
  margin-bottom: 16px;
}

