.artist-search {
  padding: 24px;
}

.artist-card {
  width: 100%;
  padding: 6px;
  overflow: auto;
}

.artist-column {
  margin: -15px;
}

.artist-container {
  margin-right: 15px;
  margin-left: 15px;
  width: auto;
  margin-bottom: 16px;
}

