.background {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof-mini-contain {
  display: flex;
}
// ---------------------------------------

.prof-desc h5 {
  font-size: 16px;
}

.fuccu {
  margin-top: 20px;
  margin-bottom:20px;
  margin-left: 20px;
  margin-right: 20px;
}

.prof-btns {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
  margin-top: 20px;
  a {
    margin-bottom: 10px;
    text-align: center;
    width: 225px !important;
  }
}


.orderz {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;

}


.prof-contain h3 {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;
}
.luser h2 {
  color: white;
}
