.background {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.luser h2 {
  color: white;
}

.prof-mini-contain {
  display: flex;
  justify-content: center;
    width: 50%;
    margin: 5px auto;
    img {
      margin-right: 20px;
    }
}

.prof-desc h3 {
 margin-top: 0px;
}

.prof-desc h5 {
  font-size: 16px;
}

.orderz {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;

}


.prof-contain h3 {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;
}
