.background {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof-mini-contain {
  display: flex;
  margin-top: 30px;
  margin-bottom:30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
// ---------------------------------------
.prof-photo {

  margin-right: 20px;

}

.prof-desc {
  margin-right: 20px;
  margin-left: 20px;
}

.prof-desc h5 {
  font-size: 16px;
}


.prof-btns {
  margin-left: 20px;
  width: 3000px;
  max-width: 3000px;
}



.orderz {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;

}


.prof-contain h3 {
  border-bottom: 3px solid $turquiose;
  padding-bottom:10px;
}
.luser h2 {
  color: white;
}
